
//
// VARIABLES
//

// Colors
$blue: #4183C4;

$gray-800: #2d3748;
$gray-500: #a0aec0;
$gray-200: #edf2f7;
$code-bg: #1a202c;
$code-inline-bg: $gray-200;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
